:root{
--primetext: #2C3E50;
--primeaccent: #D98D68;
--bgsecond: #E0A6AA;
--secondaccent: #E2C275;
--primebg: #E6DBC9;
}


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    background-color: var(--primebg);
    color: var(--primetext);
}
header {
    margin: 0;
    padding: 1em 0;
    min-height: 10dvh;
    width: 100dvw;
    background-color: var(--bgsecond);
    justify-items: center;
    box-shadow: 0 0 20px var(--primetext);

}

.headitem {
    margin: 0 1em 1em 1em;
}

.maincont {
    display: grid;
    gap: 1em;
    grid-template-areas:
        'head'
        'art1'
        'art2'
        'foot';
}

.head {
    grid-area: head;
}

.article1 {
    grid-area: art1;
}

.article2 {
    grid-area: art2;
}

.foot {
    grid-area: foot;
}
.boxcont{
    border: 5px solid var(--primeaccent);

}
.moodcont{
    background-color: var(--bgsecond);
    display: grid;
    grid-template-areas: 'm1 m2 m3';
    gap: 1em;
}
.moodcont img{
    max-width: 30%;
    min-width: 25%;
    max-height: auto;
}
.mood1{
    grid-area: m1;
}
.mood2 {
    grid-area: m2;
}
.mood3 {
    grid-area: m3;
}