:root{
--primetext: #2c3e50;
--primeaccent: #D98D68;
--bgsecond: #E0A6AA;
--secondaccent: #e2c275;
--primebg: #E6DBC9;
}

html{
    height: 100dvh;
    width: 100dvw;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    width: 100dvw;
    height: 100dvh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    background-color: var(--primebg);
    color: var(--primetext);
}
header {
    
    
    min-height: 10dvh;
    max-height: 25dvh ;
    width: 100dvw;
    background-color: var(--bgsecond);
    justify-items: center;
    box-shadow: 0 0 10px var(--primetext);

}

.headitem {
    margin: 1em;
}

.maincont {
    height: 100dvh;
    display: grid;
    gap: 1em;
    
    grid-template-areas:
        'head'
        'art1'
        'art2'
        'foot';
}

.head {
    grid-area: head;
}

.article1 {
    grid-area: art1;
    height: 25dvh;
}

.article2 {
    grid-area: art2;
    height: 25dvh;
}

.foot {
    grid-area: foot;
}

.moodcont{
    padding: 1em 1em;
    background-color: var(--primebg);
    display: grid;
    grid-template-areas: 'm1 m2 m3';
    gap: 1em;
}
.moodcont img{
    
    width: 25%;
    height: auto;
}
.moodcont button{
    padding: 1em 0;
    border-radius: 3em;
}
.mood1{
    grid-area: m1;
}
.mood2 {
    grid-area: m2;
}
.mood3 {
    grid-area: m3;
}
.foot{
    margin-top: auto;
    width: 100dvw;
    height: 5dvh;
    background-color: var(--secondaccent);
}
.footcont{
    display: flex;
    justify-content: end;
    
}
.foot a{
    align-self: center;
    padding: 0 1em;
    text-decoration: none;
    color: none;
}
.foot p {
    padding: 0 1em;
    align-self: center;
}
.foot img{
    width: 2em;
    height: auto;

}