body {
    font-family:"Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size:12pt;
    background-image:url('../media/houseOnWater.jpg');
    
    background-size:100%;
    background-repeat:no-repeat;
}
header{
    max-width:50%;
    text-align:center;
    display:block;
}
footer{
    background-color: black;
    color: aquamarine;
    max-width:75%;
    text-align:right;
    font-size:.75em;

}
article{
    display: flex;
    flex-wrap:wrap;
    align-items:center;
	justify-content:flex-start;
}
section{
	flex:1;
	padding:1%;
    min-width:150px;
    max-width:50%;
    min-height:200px;
    background-color:wheat;
    color:black;
    margin-bottom:10px;
    
    
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    color:white;
    text-shadow:2px 2px black;
    text-align:center;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5em;
    color:wheat;
    text-shadow:2px 2px black;
    text-align:center;
}
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.5em;
    color:bisque;
    text-align:center;
}
h4{
    justify-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.2em;
    color:black;
}
p{
	margin-left:10px;
	font-weight:900;
}