:root{
    --bg:#101010;
    --cards:#202020;
    --text:#ffffff;
    --accentNG:#00e676;
    --accentNGAct:#00e645;
    --accentBB:#2979ff;
    --accentBBAct:#1010ff;
    --caution:#ffff50;
    --alert:#ff2020;
    --complete: 
    linear-gradient(to bottom, #101010, rgb(0, 230, 118));
}
@font-face {
    font-family: ibm;
    src: url(../fonts/IBMPlexSans-Regular.ttf);
}
body{
    color: var(--text);
    font-family: ibm ;
    margin: 0;
    background-color: var(--bg);
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
body>p{
    
}
#top{
    display: flex;
    flex-direction: column-reverse;
    color: var(--text);
    
}
#top>p{
    letter-spacing: .1em;
    padding: .15em 0;
    font-weight: bold;
    text-align: center;
    margin: 0;
    min-height: 1.2em;
    width: 100%;        
    background-color: var(--caution);
    color: var(--bg);
    z-index: 1;
}
#top>h1{
    color: var(--bg);
    margin: 0;
    background-color: var(--accentBB);
    text-align: center;
    font-size: 2em;
}

#menuBtn:active, 
#menu>button:active{
    background-color: var(--accentBBAct);
}
#menu{ 
    min-width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--accentBB);
}
#menu>button{
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--bg);
    background-color: var(--accentBB);
    font-size: 2em;
    padding: .3em;
}
#UIcont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text);
    
}
.card{
    box-shadow: 0 0 .4em var(--accentBB);
}
#mid{
    display: inline-flex;
    height: 100%;
    min-width: 100%;
}
#UIcont article{
    border-radius: 10px;
    margin: .35em;
    background-color: var(--cards);
    color: var(--text);
    min-width: 90%;
}
#UIcont p {
    font-size: 1em;
    padding: 0 .5em;
}
#list{
    min-width: 100%;
}
.list{
    box-shadow: 0 0 .4em var(--alert);
    min-width: 80%;
}
footer{
    
    
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
}
footer>p{
    font-size: 1.05em;
    padding: .5em .5em;
    background-color: var(--alert);
    color: var(--text);
    overflow-wrap: break-word;
    word-wrap: break-word;
    margin: 0;
    
}


@media screen and (min-width: 800px) {

#menuBtn:hover,
#menu>button:hover 
{
    background-color: var(--accentBBAct);
}
}
