:root{
    --bg:#101010;
    --cards:#1e1e1e;
    --text:#ffffff;
    --accentNG:#00e676;
    --accentBB:#2979ff;
}
@font-face {
    font-family: ibm;
    src: url(../fonts/IBMPlexSans-Regular.ttf);
}
body{
    
    font-family: ibm ;
    margin: 0;
    background-color: var(--bg);
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}
#top{
    display: grid;
    grid-template-columns: 1fr 7fr;
    color: var(--text);
}
h1{
    text-align: center;
    font-size: 2em;
    align-self: center;
}
#menuBtn{
    border-radius:0 0 30px 0;
    border: none;
    outline: none;
    background-color: var(--accentBB);
    padding: .25em .75em;
    font-size: 2em;
    color: var(--bg);
    cursor: pointer;
}
#menu{ 
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--accentBB);
}
#menu>button{
    
    cursor: pointer;
    border: none;
    outline: none;
    color: var(--bg);
    background-color: var(--accentBB);
    font-size: 2em;
    padding: .25em .75em;
}
#UIcont{
    color: var(--text);
}
#mid{
    display: inline-flex;
    height: 100%;
 
    
}
